<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <input type="radio" id="animal" value="animal" v-model="lovetype">
        <label for="animal">Animal</label>
        <input type="radio" id="flower" value="flower"  v-model="lovetype">
        <label for="flower">Flower</label><br>
        
        <template v-if="isLoveTypeAnimal">
            <div>
                <input type="checkbox" id="dog" value="dog" v-model="loveList">
                <label for="dog">Dog</label>
                <input type="checkbox" id="cat" value="cat" v-model="loveList">
                <label for="cat">Cat</label>
                <input type="checkbox" id="fish" value="fish" v-model="loveList">
                <label for="fish">Fish</label> 
            </div>
        </template>
        
       
        <template v-else-if="isLoveTypeFlower">
            <div>
                <input type="checkbox" id="rose" value="rose" v-model="loveList">
                <label for="rose">Rose</label>
                <input type="checkbox" id="rotus" value="rotus" v-model="loveList">
                <label for="rotus">Rotus</label>
                <input type="checkbox" id="mali" value="mali" v-model="loveList">
                <label for="mali">Mali</label>  
            </div>
        </template>

        <template v-else>
            <div>
                Please select one !!
            </div>
        </template>
        
        



        <span>Love Type: {{ lovetype }}</span><br>
        <span>Love List: <span v-if="loveList.length==0">Nothing</span></span><br>
        <ul>
            <li v-for="love in loveList">
                {{ love }}
            </li>
        </ul>
        <span>Love List Length: {{ loveList.length }}</span><br>

    </div>
    <script>
        var app =new Vue({
            el: '#app',
            data:{
                lovetype: '',
                loveList: [],

            },
            computed: {
                getLoveListLength: function(){
                    return this.loveList.length;
                },
                isLoveTypeAnimal: function(){
                    return this.lovetype=='animal';
                },
                isLoveTypeFlower: function(){
                    return this.lovetype=='flower';
                },
            },
            watch: {
                lovetype: function(newValue, oldValue){ 
                    this.loveList = [];
                }
            },
        })
    </script>
</body>
</html>